@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/colors' as *;
@use '~@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '~@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/colors' as *;
@use '@carbon/grid';
@include grid.flex-grid();

body {
  //background: colors.$blue-50;
  color: react.$text-primary;
}

.theme-section {
  background: react.$background;
  color: react.$text-primary;
}

:root {
  @include react.theme(react.$g10);
}

[data-carbon-theme='g100'] {
  @include react.theme(react.$g100);
}

.individual-task {
  position: relative;
  border-radius: 1rem;
  margin-bottom: 2vh;
  border-radius: 2vh;
  margin: 2vh;
}

.individual-task .title {
  //color: react.colors;
  margin-bottom: $spacing-03;
  @include type-style('heading-01');
}

.individual-task .dueBy {
  color: $border-interactive;
  margin-right: -1vh;
}

.individual-task .calendarIcon {
  margin-left: 1vh;
  color: react.$green-60
}

.individual-task .dueByText {
  margin-top: -3vh;
  margin-right: 2vh;
  padding-left: 3vh;
  border-right: 0vh;
  border-left: 0vh;
  @media screen and (max-width: 600px){
    margin-top: -3vh;
  margin-right: 2vh;
  //padding-left: 3vh;
  border-right: 0vh;
  }
}

.individual-task .delete-task {
  color: react.$red-50;
  //padding-right:3vh;
  //margin-left: 3vh;
}

.individual-task .subtask {
  margin-top: 4vh;
}

.individual-task .subtask-count {
  margin-top: 4vh;
}

.create-button {
  position: relative;
  border-radius: 1rem;
  margin-bottom: 2vh;
  border-radius: 2vh;
  margin: 2vh;
}

.cra-datepicker {
  .cds--date-picker.cds--date-picker--single .cds--date-picker__input {
    //width: 16rem!important;
  }
}


.subtasks .cds--text-input--sm {
  height: 1.5rem;
  //width: 32.7rem;
  margin-right: 0.8rem;
}

.subtasks .cds--form-item.cds--checkbox-wrapper {
  //position: fixed !important;
  position: relative;
  margin-bottom: 0.25rem;
  flex: 0.1;
  padding-right: 1vh
}

.subtasks-icon {
  position: relative;
  margin-bottom: 0.5rem;
}

.trash-icon {
  color: react.$red-50;
  margin-left: '70px';
  margin-top: 2vh;
}

.subtasks-count {
  margin-left: -3vh;
}

.subtask-hr-line {
  margin-left: -0.1vh;
  margin-right: -3.0vh;
}

.page-header {
  @include type-style('productive-heading-05');
  margin: 1vh;
  border-radius: 2vh;
  color: cds--text-01;
}

.outer-tile {
  border-radius: 1vh;
  background-color: $layer-01;
  margin: 2vh;
  padding: 2vh;
  color: cds--text-01;
}